@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');
@font-face {
    font-family: FreebooterScript;
    src: url(FREEBSC_.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    position: absolute;
    top: 0;
    left: 0;
	line-height: 1.2;
    font-size: 12px;
    background-color: #eeeeee;
    width: 100%;
    height: fit-content;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.script {
    font-family: FreebooterScript, sans-serif;
    font-weight: 400;
}

.tinos {
    font-family: 'Tinos', serif;
    font-weight: 400;
    text-transform: uppercase;
}

.vespe {
    font-family: 'Vesper Libre', serif;
    font-weight: 400;
}

.container {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: 1s;
    width: fit-content;
}
@media screen and (max-width: 1280px) {
    .container { flex-direction: column; }
}

.form {
    --size: 10rem;

    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
    width: fit-content;
    padding: 2rem 4rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    opacity: 0.0;
    transition: 2.0s;
}
@media screen and (max-width: 1280px) {
    .form { width: calc(90% - 2 * 4rem); }
}

.form p { text-align: center; }

.question {
    position: relative;
    top: -0.8rem;
    background-color: white;
    padding: 0.8rem 0 0 0;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    border: None;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #313D55;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.action:hover { background-color: #4c5c7c; }
.action span { margin-left: 0.5rem; }
.action svg { width: 1rem; }

.action-small {
    padding: 0.6rem 1rem;
    background-color: black;
}

.action-small:hover { background-color: rgb(38, 38, 38); }
.action-small svg { width: 1rem; }

.input {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
@media screen and (max-width: 1280px) {
    .input { flex-direction: column; }
}

input {
    border: none;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: var(--size);
}

.guests {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.guest {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
@media screen and (max-width: 1280px) {
    .guest { flex-direction: column; }
}

.text {
    display: block;
    width: calc(var(--size) + 2 * 1rem);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: white;
    width: fit-content;
    padding: 6rem 10rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
@media screen and (max-width: 1280px) {
    .card { width: calc(90% - 2 * 10rem); }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.core {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.sep {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.big { font-size: 4rem; }
.medium { font-size: 3rem; }
.normal { font-size: 2rem; }
.calli { height: 4rem; }
.bold { font-weight: 900; }

.tl {
    position: absolute;
    top: -2rem;
    left: -2rem;
    width: 18rem;
}

.tr {
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 14rem;
}

.br {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
}

.bl {
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    width: 14rem;
}

.envelope {
    --lid-X: -75%;
    --lid-Y: -52%;
    --stamp-scale: 1.0;

    z-index: 100;
    background-color: #313D55;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}

.envelope-lid {
    z-index: 200;
    background-color: #313D55;
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transform: rotate(45deg) translateX(var(--lid-X)) translateY(var(--lid-Y));
    transition: .4s;
    overflow: hidden;
}

.stamp {
    position: absolute;
    z-index: 300;
    left: calc(50% - 5rem);
    top: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    transition: .4s;
    transform: scale(var(--stamp-scale));
}

.waiting {
    animation-name: waiting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes waiting {
    from {
        --lid-X: -75%;
        --lid-Y: -52%;
        --stamp-scale: 1.0;
    }
    to {
        --lid-X: -79%;
        --lid-Y: -54%;
        --stamp-scale: 1.1;
    }
}

.open {
    animation-name: open;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes open {
    0% {
        --lid-X: -75%;
        --lid-Y: -52%;
        --stamp-scale: 1.0;
        opacity: 1.0;
    }
    70% {
        --lid-X: -79%;
        --lid-Y: -54%;
        --stamp-scale: 2.0;
        opacity: 1.0;
    }
    100% {
        --lid-X: -82%;
        --lid-Y: -56%;
        --stamp-scale: 2.0;
        opacity: 0.0;
        cursor: default;
    }
}